In [1]:
import pandas as pd
import numpy as np

In [2]:
pd_vector = pd.DataFrame( { "num" : range(1,101) } )

In [3]:
pd_vector

    num
0     1
1     2
2     3
3     4
4     5
..  ...
95   96
96   97
97   98
98   99
99  100

[100 rows x 1 columns]

In [4]:
np.var( pd_vector["num"] ) ## Calcula la varianza

833.25

In [5]:
np.std( pd_vector["num"] ) ## Calcula la desviacion estandard

28.86607004772212

In [16]:
q3 = np.quantile(pd_vector, 0.75)
q1 = np.quantile(pd_vector, 0.25)
q2 = np.quantile(pd_vector, 0.50)
q4 = np.quantile(pd_vector, 1)

In [17]:
iqr = q3-q1

In [18]:
uppen_bound = ( q3 + (1.5*iqr) )
lower_bound = ( q3 - (1.5*iqr) )